<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
</head>
<body>
    <div class="wrapper">
        <h6>Random Word (attempt # {{request.session.counter}})</h6>        
        <h4>{{request.session.randomword}}</h4>
        <p><a href='/random_word'>Generate</a></p>
        <p><a href='/reset'>Reset</a></p>
    </div>
</body>
</html>